data/
exports/
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.sqlite-journal
ChatStorage.sqlite*
ContactsV2.sqlite*
Media/
Message/
.venv/
DerivedData/
xcuserdata/
*.xcuserstate
.DS_Store
*.html

build/
.build/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pyc
__pycache__/
